.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__text { 
  width: 1119px;
  height: 43px;
  font-family: 'Exo 2.0';
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #FFF;
  text-shadow: 0px 1px 1px #000000;
  margin: 0 0 0 27px;
  letter-spacing: 0.01em;
}

.main__cards {
  background: transparent;
  display: grid;
  grid-template-columns: repeat(3, 320px);
  grid-template-rows: 1fr;
  gap: 88px;
  width: 1120px;
  height: 509px;
  margin: 24px auto 0;
}